<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <style>
        .button-group {
            margin-top: 20px;
            display: flex;
            gap: 10px;
        }
    </style>
</head>
<body>
    <h2>로그인</h2>
    <form method = "post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">로그인</button>
    </form>
    <br/>

    <div class="button-group">
        <button type="button" onclick="location.href='{% url 'signup' %}'">회원가입</button>
        <button type="button" onclick="location.href='{% url 'password_reset' %}'">비밀번호 찾기</button>
    </div>
    
</body>
</html>