<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시물 보기</title>
</head>
<body>
    <h2>게시물 보기</h2>
    <h2>{{ article.title }}</h2>
    <p>작성자: {{ article.author.nickname | default:"알 수 없음"}}</p>
    <p>{{ article.content }}</p>
    {% if article.photo %}
        <img src="{{ article.photo.url }}" alt="사진" style="max-width: 300px;">
    {% endif %}
    <p>기술 스택: {{ article.tech_stack }}</p>
    <p>깃허브 링크: <a href="{{ article.github_link }}">{{ article.github_link }}</a></p>

    <form method="post" action="{% url 'like' article.pk %}">
        {% csrf_token %}
        {% if user.is_authenticated %}
            {% if is_liked %}
                <button type="submit">❤️ 좋아요 취소</button>
            {% else %}
                <button type="submit">🤍 좋아요</button>
            {% endif %}
        {% endif %}
    </form>
    
    <p>총 좋아요 수: {{ article.like_set.count }}</p>

    <div class="button-group">
        <button type="button" onclick="location.href='{% url 'article_create' %}'">게시물 작성하기</button>
        <button type="button" onclick="location.href='{% url 'article_list' %}'">게시물 목록 보기</button>
        <button type="button" onclick="location.href='{% url 'main' %}'">메인으로</button>
    </div>
    
</body>
</html>