{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시물 보기</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2>게시글 목록</h2>

    <!-- 게시물 제목 기준 검색 -->
    <div class="search-bar">
        <p>🔎 게시물 검색하기</p>
        <form method="get" action="{% url 'article_list' %}">
            {{ form.title }}
            <button type="submit">검색</button>
        </form>
    </div>

    <ul>
        {% for article in articles %}
            <li>
                <a href="{% url 'article_detail' article.pk %}">
                    {{ article.title }} - {{ article.author.nickname }}
                </a>
                <span style="margin-left: 36px;">❤️ {{ article.like_set.count }}개</span>
            </li>
        {% endfor %}
    </ul>

    <div class="sort-buttons">
        <form method="get" action="{% url 'article_list' %}">
            <input type="hidden" name="q" value="{{ query }}">
            <button type="submit" name="sort" value="recent" {% if sort == "recent" %}class="active"{% endif %}>🕓 최신순</button>
            <button type="submit" name="sort" value="popular" {% if sort == "popular" %}class="active"{% endif %}>🔥 인기순</button>
        </form>
    </div>

    <div class="button-group">
        <button type="button" onclick="location.href='{% url 'article_create' %}'">게시물 작성하기</button>
        <button type="button" onclick="location.href='{% url 'main' %}'">메인으로</button>
    </div>
    
</body>
</html>