<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시물 보기</title>
</head>
<body>
    <h2>게시글 목록</h2>
    <ul>
        {% for article in articles %}
            <li>
                <a href="{% url 'article_detail' article.pk %}">
                    {{ article.title }} - {{ article.author.nickname }}
                </a>
                <span style="margin-left: 36px;">❤️ {{ article.like_set.count }}개</span>
            </li>
        {% endfor %}
    </ul>
    
    <div class="button-group">
        <button type="button" onclick="location.href='{% url 'article_create' %}'">게시물 작성하기</button>
        <button type="button" onclick="location.href='{% url 'main' %}'">메인으로</button>
    </div>
    
</body>
</html>