{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>마이 페이지</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="header">

        <h2>마이 페이지</h2>
        <div class="button-group">
            <button type="button" onclick="location.href='{% url 'main' %}'">메인으로</button>
            <button type="button" onclick="location.href='{% url 'change_password' %}'">비밀번호 변경</button>
            <button type="button" onclick="location.href='{% url 'edit_profile' %}">회원 정보 수정</button>
        </div>

    </div>

    <hr>

    <div class="my-post-list">
        <h3> 내가 작성한 게시물 </h3>
        {% if my_posts %}
            <ul>
                {% for post in my_posts %}
                    <li class="post-item">
                        <div class="post-content">
                            <strong>{{ post.title }}</strong>
                            <br>
                            작성 내용: {{ post.content|truncatewords:20 }}
                            <br>
                            조회수: {{ post.views }}
                            <br>
                            기술 스택: {{ post.tech_stack }}
                            <br>
                            <a href="{% url 'article_detail' post.id %}">게시물 보러가기</a>
                        </div>

                        <div class="edit-delete-button">
                            <button onclick="location.href='{% url 'article_edit' post.pk %}'">수정</button>
                            <form method="POST" action="{% url 'article_delete' post.pk %}" style="margin-top: 5px;">
                                {% csrf_token %}
                                <button type="submit" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</button>
                            </form>
                        </div>

                    </li>

                    <hr>

                {% endfor %}
            </ul>
        {% else %}
            <p> 아직 작성한 게시물이 없습니다. </p>
            <button type="button" onclick="location.href='{% url 'article_create' %}'">게시물 작성하기</button>
        {% endif %}
    </div>
        
    {% if messages %}
        <script>
            {% for message in messages %}
                alert('{{ message }}');
            {% endfor %}
        </script>
    {% endif %}
</body>
</html>