<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
    <style>
        .button-group {
            margin-top: 20px;
            display: flex;
            gap: 10px;
        }
    </style>
</head>

<body>
    <h2>회원 가입</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-group">
            <button type="submit">회원 가입</button>
            <button type="button" onclick="location.href='{% url 'login' %}'">로그인</button>
        </div>
    </form>

</body>
</html>